* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CENTER CONTAINER */
.container {
    margin: 0 150px;
}

/* BODY STYLING */
body {
    font-family: roboto;
    background-color: #1f2937;
}

/* HEADER STYLING */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* HERO STYLING */
.hero {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    margin-top: 15px;
    padding: 8px 35px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
}