* {
    box-sizing: border-box;
}

/* CENTER CONTAINER */
.container {
    margin: 0 150px;
}

/* BODY STYLING */
body {
    font-family: roboto;
    background-color: #1f2937;
}

/* HEADER STYLING */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}